* {
    color: black;
    font-size: 16px;
    font-family: "Lato", 'sans-serif';
}

body {
    background-color: #fefefe;
}

#app {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.counter, .upload {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.counter__title, .upload__title {
    font-size: 24px;
    line-height: 3em;
}

/* Style - Counter component*/

.counter__display {
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter__button {
    margin: 30px auto;
}

/* Style - Upload component*/

.upload__row {
    display: flex;
    flex-direction: row;
}
.upload__preview {

}

.upload__preview__image {
    width: 150px;
    margin: 20px;

}

 .upload__data {
    padding: 20px;
 }
