* {
    color: black;
    font-size: 16px;
    font-family: "Lato", 'sans-serif';
}

body {
    background-color: #fefefe;
}

#app {
    width: 100%;
}

.container {
    width: 80%;
    min-width: 350px;
    margin: 0 auto;
}

.counter, .upload {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.counter__title, .upload__title {
    font-size: 24px;
    line-height: 3em;
}

/* Style - Counter component*/

.counter__display {
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter__button {
    margin: 30px auto;
}

/* Style - Upload component*/

.upload__row {
    display: flex;
    flex-direction: row;
}
.upload__preview {

}

.upload__preview__image {
    width: 150px;
    margin: 20px;
}

 .upload__data {
    padding: 20px;
 }

.btn {
    display: inline-block;
    padding: 2px 12px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    vertical-align: top;
    color: #fff;
    background-color: #5cb85c;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #4cae4c;
    border-radius: 0 3px 3px 0;
}

.fa {
    color: #fff;
}

.inputfile {
    display: inline-block;
    width: 70%;
    min-width: 200px;
    max-width: 500px;
    background-color: lightgray;
    border-radius: 3px 0 0 3px;
    height: 34px;
    border: 1px solid gray;
    margin: 0;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #eeeeee;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
